<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

  </configSections>
  <connectionStrings>
    <!--正式-->
    <add name="LianXueConnString" connectionString="server=lianxuemain.rds.niceloo.com,3433;database=lianxue;user id=lianxuedb;password=eSBzP@9EPk%d1$ZPji3s;min pool size=4;max pool size=1024;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Redis测试配置-->
    <add key="RedisConnectionHost" value="192.168.11.222" />
    <add key="RedisConnectionPort" value="6380" />
    <add key="RedisConnectionPassWord" value="redis2017" />
  </appSettings>

</configuration>